html, body {
height: 100%;
background-color: #ffffff;
}

body {
font-size: 12pt;
font-family: "PT Sans", Helvetica, Arial, Sans-Serif;
color: #444;
}

.header {
padding: 15px 0;
font-size: 12pt;
}

.header ul {
display: inline;
list-style-type: none;
position: relative;
bottom: 9px;
}
ul {
list-style: disc;
}

.header li {
display: inline;
margin-right: 10px;
}

.header a {
color: #323c81;
text-decoration: none;
}

div.page {
padding-top: 30px;
border-top: solid 1px #ccc;
margin-top: 10px;
}
.container {
width: 940px;
margin-left: auto;
margin-right: auto;
zoom: 1;
margin-bottom: 10pt;
}
h1,h2,h3,h4 {
  color: #323c81;
}
.footer {
  text-align: center;
}
section {
  padding-top: 30px;
}




/*@media (min-width: 979px) {
  body {
    padding-top: 41px;
  }
}

@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom: 0;
  }
}

ul.list > li {
  list-style: none;
}

ul.list > li:before {
  content: '\2014\a0';
}

section {
  padding-top: 30px;
}

.footer {
  text-align: center;
}

.jumbotron {
  padding: 40px 0;
  color: #fff;
  background: -webkit-linear-gradient(45deg, #020031 0%,#6d3353 100%);
}

@media (max-width: 768px) {
  .jumbotron {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

section > .page-header {
  color: #5a5a5a;
}
*/
