
body {
font-family: 'Lato', sans-serif !important;
background-color: #f3f0e9;
}

.navbar-fixed-top {
margin-bottom: 0;
}

.navbar-inner {
border-bottom: 0 none;
filter: none;
padding: 0;
background: #ff7400; /* Old browsers */
background: -moz-linear-gradient(top,  #ff7400 0%, #ff7400 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7400), color-stop(100%,#ff7400)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff7400 0%,#ff7400 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff7400 0%,#ff7400 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff7400 0%,#ff7400 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff7400 0%,#ff7400 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7400', endColorstr='#ff7400',GradientType=0 ); /* IE6-9 */
}

@media (max-width: 979px){
.navbar .container {
width: auto;
padding: 0;
}
}


.navbar .brand {
padding: 0px;
color: #111111;
position: relative;
bottom: -3px;
margin-bottom: -19px;
}


.navbar .nav {
margin: 15px 0 0 0;
}

.row {
padding-top: 100px;
}

@media (max-width: 979px) {
.row{
padding-top: 0px;
}
}

@media (max-width: 767px) {
.row, .thumbnails {
margin-left: 0;
padding-top: 0px;
}
}


li {
display: list-item;
text-align: -webkit-match-parent;
}


.navbar .nav > li > a {
color: #19190f;
font-size: 16px;
font-weight: bold;
text-shadow: none;
vertical-align: middle;
}

.span9 {
padding-bottom: 30px;
}

.bs-docs-sidenav {
width: 228px;
margin: 30px 0 0;
text-align: center;
background-color: #f3f0e9;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.095);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,.095);
box-shadow: 0 1px 4px rgba(0,0,0,.095);
}

.navbar .btn-navbar {
float: right;
padding: 7px 10px;
margin-right: 5px;
margin-left: 5px;
color: #ff7400;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.65);
background-color: #ff7400;
background-image: -webkit-linear-gradient(top, #ff7400, #e76b04);
background-repeat: repeat-x;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}

.navbar .btn-navbar:hover, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {
color: #ffffff;
background-color: #ff7400;
}

@media (max-width: 979px) {
.nav-collapse .nav > li > a:hover, .nav-collapse .dropdown-menu a:hover {
background-color: #af672b;
}
}

@media (min-width: 1200px) {
  .bs-docs-sidenav {
  width: 228px;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  .bs-docs-sidenav {
  width: 166px;
  margin-top: 20px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
[class*="span"] {
float: left;
min-height: 1px;
margin-left: 20px;
}
}




@media (max-width: 980px) {
  .bs-docs-sidenav {
  top: 0;
  margin-right: 0;
  }
}

@media (max-width: 979px) {
  .bs-docs-sidenav.affix {
  position: static;
  width: auto;
  top: 0;
  }
}

@media (max-width: 767px) {
[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
display: block;
float: none;
width: 100%;
margin-left: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
}

.bs-docs-sidenav.affix {
top: 62px;
}

.page-header {
border-bottom: 1px solid #ff7400;
}

a:hover {
text-decoration: none;
color: #ff7400;
}

.accordion-toggle {
color: black;
}
