---
title: Главная
layout: default
---

{% include short_description/intro.html %}

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-4">
    <img class="featurette-image img-responsive" src="img/scotch_3.png" data-src="holder.js/562x400/auto" alt="562x400">
  </div>
  <div class="col-md-8">
    <h3 class="featurette-heading">СКОТЧ</h3>
    <p class="lead">
      {% include short_description/product.md %}
    </p>
    <a class="btn btn-warning" href="product.html">Подробнее о скотче</a>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-4">
    <img class="featurette-image img-responsive" src="img/skotch_1.png" data-src="holder.js/615x400/auto" alt="615x400">
  </div>
  <div class="col-md-8">
    <h3 class="featurette-heading">МАЛЯРНЫЙ СКОТЧ</h3>
    <p class="lead">
      {% include short_description/product_tape.md %}
    </p>
    <a class="btn btn-warning" href="product_tape.html">Подробнее о малярной ленте</a>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-4">
    <img class="featurette-image img-responsive" src="img/tape.png" data-src="holder.js/625x400/auto" alt="625x400">
  </div>
  <div class="col-md-8">
    <h3 class="featurette-heading">СТРЕТЧ ПЛЕНКА</h3>
    <p class="lead">
      {% include short_description/product_stretch.md %}
    </p>
    <a class="btn btn-warning" href="product_stretch.html">Подробнее о стретч пленке</a>
  </div>
</div>
<!-- /конец FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-4">
    <img class="featurette-image img-responsive" src="img/skotch_logo.png" data-src="holder.js/678x400/auto" alt="678x400">
  </div>
  <div class="col-md-8">
    <h3 class="featurette-heading">СКОТЧ С ЛОГОТИПОМ</h3>
    <p class="lead">
      {% include short_description/product_logo.md %}
    </p>
    <a class="btn btn-warning" href="product_logo.html">Подробнее о скотче с логотипом</a>
  </div>
</div>