
  <div class="contakt">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-4">
          <b>Телефон:</b>
                <p itemprop="telephone">(062)213-14-31 (Денис), (066)794-32-01 (Денис)</p>
                <p itemprop="telephone">(062)213-18-07(Евгений), (066)306-52-11(Евгений)</p>
        </div>
        <div class="col-xs-6 col-md-4">
          <b>Адрес:</b>
          <p>Донецк, Мушкетовская&nbsp;12</p>
        </div>
        <div class="col-xs-6 col-md-4">
          <b>Почта:</b>
          <p><a class="mail" itemprop="email" href="mailto:denis@packer.dn.ua">denis@packer.dn.ua</a></p>
          <p><a class="mail" itemprop="email" href="mailto:eugene@packer.dn.ua">eugene@packer.dn.ua</a></p>
        </div>
      </div>
    </div>
  </div>




