<footer class="footer-primary bs-bg-widthfix">
  <div class="bs-bg-widthfix-inner">
    <div class="container">
      <div class="row">
        <div class="span4">
          <h6 class="footer-section-heading">Адрес:</h6>
          <p>Донецк, Мушкетовская&nbsp;12</p>
        </div>

        <div class="span4">
          <h6 class="footer-section-heading">Телефон:</h6>
          <div class="group">
            <div itemscope="" itemtype="http://schema.org/Person">
              <div>
                Денис:
                <p itemprop="telephone">(062)213-14-31</p>
                <p itemprop="telephone">(066)794-32-01</p>
              </div>
              <div>
                Евгений:
                <p itemprop="telephone">(062)213-18-07</p>
                <p itemprop="telephone">(050)470-89-22</p>
              </div>
            </div>
          </div>
        </div>

        <div class="span4">
          <h6 class="footer-section-heading">Почта:</h6>
          <div>
            Email:
            <a itemprop="email" href="mailto:denis@packer.dn.ua">denis@packer.dn.ua</a>
          </div>
          <div>
            Email:
            <a itemprop="email" href="mailto:eugene@packer.dn.ua">eugene@packer.dn.ua</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <img class="logo-snail" src="/img/logo-snail.png" />

  <div class="span12">
    <p class="copyright">Packer &copy;&nbsp;2013</p>
  </div>

</footer>