<div class="jumbotron">
  <div class="container slogan">
    <h1 class="visible-lg">Скотч с&nbsp;логотипом&nbsp;&mdash; &laquo;нетрадиционная&raquo; реклама, которая работает!</h1>
    <h2 class="visible-md">Скотч с&nbsp;логотипом&nbsp;&mdash; &laquo;нетрадиционная&raquo; реклама, которая работает!</h2>
    <h3 class="visible-sm">Скотч с&nbsp;логотипом&nbsp;&mdash; &laquo;нетрадиционная&raquo; реклама, которая работает!</h3>
    <p><a class="btn btn-large btn-primary" href="index.html">Посмотреть каталог</a></p>
  </div>
</div>