
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #242121;
  background-image: -webkit-linear-gradient(top,#e6e5ea ,#d2d1d6);
  padding-top: 50px;
}

.navbar-inverse {
  background-color: #f2b48f;
  border-color: #fbb466;
  background-image: -webkit-linear-gradient(top,#ef790b ,#fbb466);
}

.navbar-inverse .navbar-nav > li > a {
  color: #242121;
  font-size: 16px;
  font-weight: bold; 

}

.navbar-nav {
  float: right;
  margin: 0;
}

.navbar .brand {
  padding: 0px;
  color: #111111;
  position: relative;
  bottom: 0px;
  margin-bottom: -19px;
  float: left;
}

a {
  color: #b95d40;
  text-decoration: none;
}

.span4 img {
  margin-right: 40px;
}

a:hover {
  color: #80402c;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .carousel, .slogan {
    display: none;
  }
}


.carousel h1, .carousel h2, .carousel h3, .carousel h4, .carousel h5, .carousel h6 {
  color: #e4e1da;
}

.slogan h1, .slogan h2, .slogan h3, .slogan h4, .slogan h5, .slogan h6 {
  color: #e4e1da;
}

h1 {
  color: #e4e1da;
}

h2 {
  color: #5F5E66;
}

h3 {
  color: #5F5E66;
}

h4 {
  color: #5F5E66;
}

.jumbotron {
  background-image: -webkit-linear-gradient(bottom,#4e7ea9 ,#284259);
}

.jumbotron h1 {
  font-size: 40px;
  line-height: 40px;
  color: #e4e1da;
  text-align: center;
}

.jumbotron p {
  text-align: center;
}

.carousel {
  background-image: -webkit-linear-gradient(bottom ,#4e7ea9 ,#284259);
}

.btn-primary {
  color: #ffffff;
  background-color: #b98540;
  border-color: #b98540;
}

.btn-primary:hover, .btn-primary:focus, 
.btn-primary:active, .btn-primary.active, 
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #ed9c28;
  border-color: #d58512;
}

@media (min-width: 768px) {
  /* для мобильных */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  .featurette-heading {
    font-size: 30px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 12px;
  }
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #fbb466;
}


footer {
  position: relative;
  margin-top: 20px;
}

.footer-primary {
  padding: 36px 0 48px 0;
  border-top: #284259;
  background-color: #284259;
  background-image: -webkit-linear-gradient(top,#31506c ,#284259);
  color: #bfbdbd;
}

@media (min-width: 1200px) {
  .span4 {
   float: left;
   min-height: 1px;
   margin-left: 48px;
}
}

.footer-section-heading {
  border-bottom: 1px solid #555;
  padding-bottom: 3px;
}

h6, .h6 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
}

.copyright {
  display: block;
  padding: 18px 0;
  border-top: 1px solid #555;
  text-align: center;
}


.logo-snail {
  bottom: 110px;
  position: absolute;
  right: 50px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
}

@media (max-width: 768px) {
  .logo-snail {
    display: none;
  }
}

.span8  {
  font-size: 16px;
  line-height: 2;
}

.navbar-inverse .navbar-toggle {
  border-color: #f7972e;
}

.about {
  margin-top: 20px;
  font-size: 16px;
  line-height: 2;
}
