<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }} - Packer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="скотч оптом" />
  <link href="css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="/css/application.css" rel="stylesheet" media="screen">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  {% include menu.html %}
  {% include carousel.html %}
  {% include contakt.html %}
  <div class="container marketing {{ page.class }}">
    {{ content }}
  </div>
  {% include footer.html %}
  {% include javascripts.html %}
  {% include seo.html %}
</body>
</html>